*.ipr
*.iws
*.rdb
out/
.Trash/
.CFUserTextEncoding
.DS_Store
.cache/
.cups/
.ftpquota
.gnupg/
.gradle/
.lesshst
.local/
.m2/
.matplotlib/
.mkshrc
.netrc
.node-gyp/
.oracle_jre_usage/
.psql_history
.putty/
.python_history
.rediscli_history
.rnd
.rubocop.yml
.ssh/
.subversion/
Applications/
Creative Cloud Files/
Desktop/
Documents/
Downloads/
Dropbox (House of Luthiery)/
Dropbox (Personal)/
Dropbox /
Library/
Movies/
Music/
Pictures/
Public/
andrew-carmer-tattoo-ideas/
boss-learndash/
boss/
builder-service/
functions.php
get-pip.py
java_error_in_idea_14276.log
java_error_in_rubymine.hprof
package-lock.json
polar/
practice
practice.txt
practicing
sfwd-lms/
slackporter/
wp-content/
.android/
.aws/
.ebextensions/
.npm/
.yarnrc/
127.0.0.1
127.0.0.1   localhost
.gem/
.docker/
.dropbox/
.vscode/
.packer.d/
.prettierrc
.bundle/
.editorconfig
.rvm
.gitconfig
.rvmrc
.config/yarn/
.config/configstore/
.config/filezilla/ 
.bash_sessions/